@import url("https://secondluke242014.github.io/open-css-library/main.css");

* {
  background: #ddd;
  font-family: arial, sans-serif;
}

ul, ul li {
  padding: 0;
  margin: 0;
  display: inline-block;
}
