<!doctype html>

<html>
  <head>
    <title>{{ page.title }} - CDS</title>
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script>
      console.log("%cSTOP!","color:red;font-size:30px;font-weight:bold;");
      console.log("This is your browser's developer tools. According to CDS, users will get terminated for using this to hack. If someone tells you to copy and paste code, don't do it. Otherwise if you don't care, close this window with warnings.");
    </script>
  </head>
  <body>
    <ul>
      <li>
        <a href="docs">Docs</a>
        <a href="login">Login</a>
      </li><br>
      {{ content }}
    </ul>
  </body>
</html>
