<!doctype html>
<html>
  <head>
    <link rel='stylesheet' href='https://secondluke242014.github.io/static/style.css'>
    <meta name='viewport' content='width=device-width initial-scale=1.0'>
    <script src='system.js' type='module'></script>
    <title>{{ site.title }} - CDS</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href='index'>Home</a></li>
      </ul>
    </nav><br>
    <noscript><p style='background:#ff0'>To make CDS work properly, please enable javascript.</p></noscript><br>
    {{ content }}
  </body>
</html>
